<div class="card w-25 p-3">
  <div class="card-top d-flex justify-content-between">
    <div class="left d-flex">
      <img src="{{ contributor.avatar_url }}" alt="User profile photo" width="64px">
      <small class="align-self-end">@github</small>
    </div>
    <div class="right">
      <i class="fa fa-crosshairs"></i>
    </div>
  </div>
  <div class="card-bodyy">
    <h5>{{ contributor.login }}</h5>
    <p>{{ contributor.contributions }} commits</p>
  </div>
  <div class="card-bottom d-flex justify-content-center">
    <app-repositories-modal [reposUrl]="contributor.repos_url" [contributorName]="contributor.login">
    </app-repositories-modal>
  </div>
</div>